.ActiveItem {
     /* box-shadow: 1px 1px 5px 6px #ccc;
    width: 100%;
    border-radius: 5px;
    text-align:center; */
     font-weight: bold;
     font-size: initial;
}

.rpItem {
     width: 100%;
     box-sizing: border-box;
     margin-left: 10px;
     padding: 2px;
     font-size: 95%;
     padding-right: 0px;
     cursor: pointer;
     color: #743FAA;
}

.collpaseArrow {
     cursor: pointer;
     float: right;
     margin-bottom: 6px;
}

.divHig {
     border: 1px solid gray;
     box-shadow: 0px 0px 10px black;
}

.expandArrow {
     position: absolute;
     top: 5px;
     cursor: pointer;
     z-index: 99;
}

.tabStyle {
     height: 30px;
     padding-top: 5px;
     font-size: 15px;
     background-color: #e1dfe2;
     border-radius: 5px 5px 0px 0px;
}

.tabStyle2 {
     height: 30px;
     padding-top: 5px;
     padding-left: 10px;
     border-radius: 5px 5px 0px 0px;
     color: #fff;
}

.reportTypeTab {
     height: 20px;
     background-color: #4d6a7c;
     /* width: 16%; */
     color: #fff;
     text-align: center;
     border-radius: 5px 5px 0px 0px;
}
.tabStyle{
     height: 30px;
     padding-top: 5px;
     padding-left: 10px;
     border-radius: 5px 5px 0px 0px;
     color: #fff; 
 }