<form #newChangePswdFrm="ngForm">
  <button #Modalopenbtn (click)="modalChangePswd.show();" type="button" style="visibility: hidden;"></button>
  <app-modal #modalChangePswd
             [modalTitle]="'Change Password'"
             [width]="500" 
             [maximizable]="true"
             (close)="onCloseModal()"
             >

    <ng-container class="app-modal-body">

      <div class="row">
        <div class="col-md-12 margintop25px">
          <div class="floating-label">
            <input type="password" class="floating-input" name="password" [(ngModel)]="obj.password" appStrongpassword
              required placeholder=" " #password="ngModel" tabindex="1" maxlength="15"
              [ngClass]="{ 'is-invalid': newChangePswdFrm.submitted && password.invalid }" />
            <label class="labClass">Enter Password</label>
            <img src="./assets/Images/information.svg"
              title='The password must be at least 6 symbols long without spaces at the begin and at the end and contain upper and lower case characters, digit and special character (!@#$%)'
              alt="info" />
          </div>
        </div>

        <div class="col-md-12 margintop25px">
          <div class="floating-label">
            <input type="password" class="floating-input" name="confirmPassword" [(ngModel)]="obj.confirmPassword"
              appStrongpassword required placeholder=" " #confirmPassword="ngModel" tabindex="1" maxlength="15"
              [ngClass]="{ 'is-invalid': newChangePswdFrm.submitted && confirmPassword.invalid }" />
            <label class="labClass">Re-Enter Password</label>
            <img src="./assets/Images/information.svg"
              title='The password must be at least 6 symbols long without spaces at the begin and at the end and contain upper and lower case characters, digit and special character (!@#$%)'
              alt="info" />
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container class="app-modal-footer">

      <button type="submit" class="btn" (click)="savePwd(newChangePswdFrm.value)">
        <img src='./assets/Images/content-save-outline.svg' class="marginleft0px" title='Reset Password ' height='20'
          width='30' />
        Save
      </button>
    </ng-container>

  </app-modal>

</form>

<style>
.ui-icon .zoom {
    display: none !important;
}
</style>