

	.widget {
        padding: 5px;
		cursor: pointer;
	}
	.widgetPeople {
		/* width: 29%; */
		padding: 5px 8px 5px 0;
        cursor: pointer;
	}
	.widgetPeople.states-mdl {
		/* margin: 0 0 0 5%; */
	
        cursor: pointer;
	}
	.widget.states-mdl {
        cursor: pointer;
	}

	.widget.states-thrd {
		margin-right: 2%;
	}

	.stats-left.moving {
		float: left;
		width: 70%;
		background-color: #00a65a;
		text-align: center;
		height: 77px; padding-top: 22px;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-o-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

	}

	.stats-left.idle {
		float: left;
		width: 70%;
		background-color: #00a65a;
		text-align: center;
		height: 77px; padding-top: 22px;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-o-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

	}

	.stats-left.stopped {
		float: left;
		width: 70%;
		background-color: #e01f26;
		text-align: center;
		height: 77px; padding-top: 22px;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-o-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

	}

	.stats-left.noGps {
		float: left;
		width: 70%;
		background-color: #6b7d86;
		text-align: center;
	    height: 77px;
    vertical-align: middle;
    padding-top: 22px;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-o-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

	}
	.stats-left.noPolling {
		white-space: nowrap;
		float: left;
		width: 70%;
		background-color: #2f353b;
		text-align: center;
		height: 77px; padding-top: 22px;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-o-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

	}
	.stats-left.all {
		float: left;
		width: 70%;
		background-color: #3598dc;
		text-align: center;
		height: 77px; padding-top: 22px;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-o-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

	}

	.states-mdl .stats-left.idle {
		background-color: #fbaf17;
	}

	.states-mdl .stats-right.idle {
		border: none;
		border-right: 2px solid #fbaf17;
	}


	.states-last .stats-left {
		background-color: #03243B;
		border: none;
	}

	.states-last.stats-right {
		background-color: #eee;
		border: none;
		border-right: 2px solid #00a65a;
	}

	.states-thrd .stats-left {
		background-color: #052963;
	}

	.widget.states-last .stats-right {
		border: none;
		border-right: 2px solid #03243B;
	}

	.stats-right.moving {
		float: right;
		width: 30%;
		text-align: center;
		padding: 26px 0em;
		background-color: #eee;
		border: none;
		border-right: 2px solid #00a65a;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-o-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	}

	.stats-right.idle {
		float: right;
		width: 30%;
		text-align: center;
		padding:26px 0em;
		background-color: #eee;
		border: none;
		border-right: 2px solid #fbaf17;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-o-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	}

	.stats-right.stopped {
		float: right;
		width: 30%;
		text-align: center;
		padding: 26px 0em;
		background-color: #eee;
		border: none;
		border-right: 2px solid #e01f26;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-o-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	}

	.stats-right.noGps {
		float: right;
		width: 30%;
		text-align: center;
		padding: 26px 0em;
		background-color: #eee;
		border: none;
		border-right: 2px solid #6b7d86;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-o-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	}
	.stats-right.noPolling {
		float: right;
		width: 30%;
		text-align: center;
		padding: 26px 0em;
		background-color: #eee;
		border: none;
		border-right: 2px solid #2f353b;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-o-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	}	
	.stats-right.all {
		float: right;
		width: 30%;
		text-align: center;
		padding: 26px 0em;
		background-color: #eee;
		border: none;
		border-right: 2px solid #3598dc;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-o-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	}

	.stats-left h5 {
		color: #fff;
		font-size: 1em;
	}

	.stats-left h4 {
		/* font-size: 2em; */
		color: #fff;
		margin-top: 10px;
		font-weight: 400;
	}

	.stats-right label {
		font-size: 10px;
		color: #3E3D3D;
    }
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 5px solid #3598dc;
        margin-top: 10px;
		padding: 0;
		margin-bottom: 0 !important;
    }
    hr.moving {
        display: block;
        height: 1px;
        border: 0;
        border-top: 5px solid #00a65a;
        margin-top: 10px;
		padding: 0;
		margin-bottom: 0 !important;
    }
    hr.idle {
        display: block;
        height: 1px;
        border: 0;
        border-top: 5px solid #fbaf17;
        margin-top: 10px;
		padding: 0;
		margin-bottom: 0 !important;
    }
    hr.stopped {
        display: block;
        height: 1px;
        border: 0;
        border-top: 5px solid #e01f26;
        margin-top: 10px;
		padding: 0;
		margin-bottom: 0 !important;
    }
    hr.noGps {
        display: block;
        height: 1px;
        border: 0;
        border-top: 5px solid #6b7d86;
        margin-top: 10px;
		padding: 0;
		margin-bottom: 0 !important;
    }
    hr.noPolling {
        display: block;
        height: 1px;
        border: 0;
        border-top: 5px solid #2f353b;
        margin-top: 10px;
		padding: 0;
		margin-bottom: 0 !important;
	}
	/* @media screen and (max-width:1400px){
	.tableGrig-style{
		width: 98%;
		overflow-x: scroll;
		margin: 0 auto;

	}
} */
	@media screen and (max-width:450px){
		.s-QuickSearchInput{
			width: 78%;
			margin-bottom: 10px;
			
		}
		.s-QuickSearchBar{
			float: none;
		}
	}
