<div style="margin-bottom:5px;">

  <i class="fa fa-list-ul fa-2x" (click)="changeView('live')" title="List View"
    style="cursor: pointer;    margin-right: 1%;"></i>
  <!-- <i class="fa fa-area-chart fa-2x" *ngIf='hasChart' (click)="changeView('chart')" title="Charts View"
            style="cursor: pointer;"></i> -->
  <i class="fa fa-thumb-tack fa-2x" *ngIf='hasDBpin' title="Dashboard Pin"
    style="cursor: pointer;color:#3598DC;    margin-right: 1%;"></i>
  <i class="fa fa-map fa-2x" *ngIf='hasMap' (click)="changeView('map')" title="Map View"
    style="cursor: pointer;    margin-right: 1%;"></i>
  <i class="fa fa-thermometer-half fa-2x" *ngIf='hasTemp' (click)="changeView('temp')" title="Temperature View"
    style="cursor: pointer;    margin-right: 1%;"></i>
  <!-- <i class="fa fa-camera fa-2x" *ngIf='hasSurv' (click)="changeView('image')" title="Recordings"
            style="cursor: pointer;"></i> -->


</div>
<div class="row" style="height: 480px;overflow-y: auto;">

  <div class="col-md-2" style="height: 460px;overflow-y: auto;" *ngIf="!collapsedMenu">
    <i class="fa fa-arrow-left collpaseArrow" aria-hidden="true" (click)="collapsedMenu = true"></i>

    <div *ngFor="let item of allsavedReports;let i=index">
      <div class="col-md-12" style="padding-left: 10px;
        margin-bottom: 10px;">
        <div class="row">
          <div class="rpItem" [title]="item.reportName"
            (click)="getReport(item.reportId,item.mathfunctions,item.reportName,'')"
            [ngStyle]="{color: item.frequency.length==0 ? '#0090D9':'#743FAA'}">
            <div [ngClass]="{'ActiveItem' : item.reportId === selectedItemID}">
              {{item.displayName}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div [ngClass]="{'col-md-10' : !collapsedMenu, 'col-md-12': collapsedMenu}"
    style="padding-right: 2.5%; background-color: #FFF;height: 500px;">
    <i class="fa fa-arrow-right expandArrow" aria-hidden="true" (click)="collapsedMenu=false;"
      *ngIf="collapsedMenu"></i>

    <div class="row" style="padding-top:2px;">
      <div class="col-md-1" style="float: right;">
        <div class="row">
          <div class="col-md-1" style="padding-left:0px;">
            <div *ngIf="showNPbtn && !isPrevDisabled" style="width: 20px;
              padding-left: 6px;background-color: black;color: white;cursor:pointer;" title="previous"
              (click)="plotPrev()">
              <i class="fa fa-angle-left"></i>
            </div>
          </div>
          <div class="col-md-1" style="padding-left:10px;">
            <div *ngIf="showNPbtn && !isNextDisabled" style="width: 20px;
              padding-left: 6px;background-color: black;color: white;cursor:pointer;" title="next"
              (click)="plotNext()">
              <i class="fa fa-angle-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!isTrendType">
      <div class="col-md-4">
        <div id="RChart1" style="height: 200px;margin-left: -20px;">
        </div>
      </div>
      <div class="col-md-4">
        <div id="RChart2" style="height: 200px;margin-left: -20px;">
        </div>
      </div>
      <div class="col-md-4">
        <div id="RChart3" style="height: 200px;margin-left: -20px;">
        </div>
      </div>
      <div class="col-md-4">
        <div id="RChart4" style="height: 200px;margin-left: -20px;">
        </div>
      </div>
      <div class="col-md-4">
        <div id="RChart5" style="height: 200px;margin-left: -20px;">
        </div>
      </div>
      <div class="col-md-4">
        <div id="RChart6" style="height: 200px;margin-left: -20px;">
        </div>
      </div>
    </div>
    <div class="row" *ngIf="isTrendType" style=" background-color: #FFF;">
      <div class="col-md-4">
        <div id="trChart1" style="height: 200px;margin-left: -20px;">
        </div>
      </div>
      <div class="col-md-4">
        <div id="trChart2" style="height: 200px;margin-left: -20px;">
        </div>
      </div>
      <div class="col-md-4">
        <div id="trChart3" style="height: 200px;">
        </div>
      </div>
      <div class="col-md-4">
        <div id="trChart4" style="height: 200px;margin-left: -20px;">
        </div>
      </div>
      <div class="col-md-4">
        <div id="trChart5" style="height: 200px;margin-left: -20px;">
        </div>
      </div>
      <!-- style="border: solid 1px #EDEEF4;margin-bottom: 5px;" -->
      <div class="col-md-4">
        <div id="trChart6" style="height: 200px;margin-left: -20px;">
        </div>
      </div>
    </div>
  </div>

</div>